<section class="form-container">
  <h1 class="form-container__title">{{ form-title }}</h1>

  <form class="form-container__content" name="{{ form-name }}" action="{{ form-action }}">
    {{> @partial-block }}

    <div class="form-container__button-container">
      <button class="form-container__button" type="submit" aria-label="{{ submit-text }}">
        {{ submit-text }}
      </button>
    </div>
  </form>
</section>